@model Bean_Scene_Reservation.Models.Table

@{
    ViewData["Title"] = "Add New Table";
}

<h1 class="open-sans">@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TableNumber" class="control-label"></label>
                <input asp-for="TableNumber" class="form-control" />
                <span asp-validation-for="TableNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class ="form-control" asp-items="ViewBag.AreaId"></select>
            </div>
            <div class="form-group border-top mt-4 pt-4">
                <input type="submit" value="Create" class="btn btn-primary" aria-label="Create" />
                <a asp-action="Index" class="btn btn-secondary" aria-label="Cancel">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
