/* Bean Scene Colours */
:root {
    /* Primary Colours */
    --DarkBlue: #083944; /* For H2 and Body Text */
    --DarkBlueOp: rgba(8, 57, 68, 0.5);
    --MidBlue: #2F6672; /* For H3 and further headings */
    --LightBlue: #4AA1B5; /* For H1 and hyperlinks/buttons */
    --LightBlue-Hover: #4391a3;
    --LightBlue-Active: #3b8191;
    --White: #FFFFFF;
    /* Secondary Colours (Use Sparingly) */
    /* DarkGold & Gold can be used as backup colours for hyperlinks */
    --DarkGold: #CC9E09;
    --Gold: #EBC136;
    --PaleGold: #F8E8B5;
    --LightGrey: #E0E0E0;
}

/* Element Styling */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--LightBlue);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Bean Scene Fonts */
body { /* Body Text */
    font-family: "Open Sans", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 
        "wdth" 100;
    color: var(--DarkBlue);
}

h1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--LightBlue);
}

h2 {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--DarkBlue);
}

h3, h4, h5, h6 {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--MidBlue);
}

a {
    color: var(--LightBlue);
}

/* Classes */
.header-title {
    background-color: var(--DarkBlue);
}

.header-title a img {
    width: 300px;
}

@media not (min-width: 300px) {
    .header-title a img {
        width: 100%;
    }
}

.nav-link, .dropdown-item {
    color: var(--DarkBlue) !important;
    white-space: nowrap;
}

.carousel-item img {
    object-fit: cover;
}

.carousel-caption {
    background-color: var(--DarkBlueOp);
    color: var(--White);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.carousel-caption h2 {
    color: var(--White);
}

.home--card {
    width: 300px;
}

.home--card__img {
    height: 150px;
    object-fit: cover;
}

.tangerine {
    font-family: "Tangerine", cursive;
    font-weight: 300;
}

.status-closed {
    color: var(--bs-danger);
}

.status-open {
    color: var(--bs-success);
}

:is(.status-open, .status-closed)::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-weight: 400 !important;
    line-height: 1;
    vertical-align: -.125em;
}

.status-closed::before {
    content: '\f622';
}

.status-open::before {
    content: '\f26a';
}

.btn-primary {
    background-color: var(--LightBlue);
    border-color: var(--LightBlue);
}

.btn-primary:hover {
    background-color: var(--LightBlue-Hover);
    border-color: var(--LightBlue-Hover);
}

.btn-primary:active {
    background-color: var(--LightBlue-Active);
    border-color: var(--LightBlue-Active);
}

.btn-primary:focus {
    background-color: var(--LightBlue-Hover);
    border-color: var(--LightBlue-Hover);
}

/*
    Reservation status (table cells)
*/

.status-pending {
    --color: #ff9900;
    --icon: '\F5D4'; /* bi-three-dots */
}

.status-confirmed {
    --color: #228855;
    --icon: '\F272'; /* bi-check2 */
}

.status-inprogress {
    --color: #1166ff;
    --icon: '\F66B'; /* bi-activity */
}

.status-completed {
    --color: #667777;
    --icon: '\F26F'; /* bi-check2-all */
}

.status-cancelled {
    --color: #dd3344;
    --icon: '\F622'; /* bi-x-circle-fill */
}

/* Table styling */
.status-td {
    color: var(--color);
    white-space: nowrap;
}

.status-td::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-weight: 400 !important;
    line-height: 1;
    vertical-align: middle;
    content: var(--icon, '\F50C'); /* Load a Bootstrap Icon - default to bi-question */
}

/* Button styling */
.status-buttons .btn {
    border: 1px solid var(--color);
    color: var(--color);
    /* Style the status button if it has the "active" class */
    
}

.active {
    background-color: var(--color);
    color: white !important;
}