/* Bean Scene Colours */
:root {
    /* Primary Colours */
        --DarkBlue: #083944; /* For H2 and Body Text */
        --MidBlue: #2F6672; /* For H3 and further headings */
        --LightBlue: #4AA1B5; /* For H1 and hyperlinks/buttons */
        --White: #FFFFFF;
    /* Secondary Colours (Use Sparingly) */
        /* DarkGold & Gold can be used as backup colours for hyperlinks */
        --DarkGold: #CC9E09;
        --Gold: #EBC136;
        --PaleGold: #F8E8B5;
        --LightGrey: #E0E0E0;
}

/* Element Styling */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}