@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1 tangerine">welcome to bean scene</h1>

    <!-- Reservation Confirmed Modal -->
    <partial name="_ConfirmationModalPartial" />

    <partial name="_CarouselPartial" />

    <hr/>

    <div class="container mt-2 mb-2">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4 mb-2 home--card">
                <div class="card shadow">
                    <img class="card-img-top home--card__img w-100" src="~/assets/images/stock/res-food.jpg" alt="Assortment of food">
                    <div class="card-body">
                        <h2 class="card-title">Who We Are</h2>
                        <p class="card-text">Omnis ea eius nesciunt. Et cumque sit voluptas enim. Qui et ullam id a. Aspernatur dolore atque dolores quae optio. Qui dolorem deleniti magni in explicabo eum.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-2 home--card">
                <div class="card shadow">
                    <img class="card-img-top home--card__img w-100" src="~/assets/images/stock/res-waiter.jpg" alt="Waiter serving food">
                    <div class="card-body">
                        <h2 class="card-title">Quality Service</h2>
                        <p class="card-text">Omnis ea eius nesciunt. Et cumque sit voluptas enim. Qui et ullam id a. Aspernatur dolore atque dolores quae optio. Qui dolorem deleniti magni in explicabo eum.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-2 home--card">
                <div class="card shadow">
                    <img class="card-img-top home--card__img w-100" src="~/assets/images/stock/res-cooks.jpg" alt="Cooks preparing food">
                    <div class="card-body">
                        <h2 class="card-title">A Curated Menu</h2>
                        <p class="card-text">Omnis ea eius nesciunt. Et cumque sit voluptas enim. Qui et ullam id a. Aspernatur dolore atque dolores quae optio. Qui dolorem deleniti magni in explicabo eum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>