@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>Body Text - Esse sed porro in quia itaque ut commodi placeat. Nam voluptatem ratione eius qui fugit est. Explicabo asperiores deleniti autem ut et.</p>
    <p>Ut perferendis blanditiis quia suscipit omnis eius porro. Architecto eius consequatur sed fugit quia non nulla id. Aut consequatur voluptas quo.</p>
    <p>Ea animi praesentium consequatur voluptatum voluptatum quod et modi. Exercitationem perspiciatis quam debitis eos sint quas. Aut perspiciatis perspiciatis numquam expedita. Illum voluptatem fuga minima enim suscipit autem. Aut minus eligendi autem.</p>
    <p>The next sentence is a hyperlink. <a href="#">I am a hyperlink.</a> The last sentence was a hyperlink.</p>
    <p>I'm regular. <strong>I'm Strong.</strong> <em>I'm Emphasised.</em></p>
</div>
