@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>Body Text - Esse sed porro in quia itaque ut commodi placeat. Nam voluptatem ratione eius qui fugit est. Explicabo asperiores deleniti autem ut et.</p>
    <p>Ut perferendis blanditiis quia suscipit omnis eius porro. Architecto eius consequatur sed fugit quia non nulla id. Aut consequatur voluptas quo.</p>
    <p>Ea animi praesentium consequatur voluptatum voluptatum quod et modi. Exercitationem perspiciatis quam debitis eos sint quas. Aut perspiciatis perspiciatis numquam expedita. Illum voluptatem fuga minima enim suscipit autem. Aut minus eligendi autem.</p>
    <p>The next sentence is a hyperlink. <a href="#">I am a hyperlink.</a> The last sentence was a hyperlink.</p>
    <p>I'm regular. <strong>I'm Strong.</strong> <em>I'm Emphasised.</em></p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to Bean Scene!</h1>

    <div class="d-flex justify-content-center">
        <div id="homepageCarousel" class="carousel slide col-md-8 shadow">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/assets/images/placeholder1.png" class="d-block w-100" alt="Carousel Slide 1">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/images/placeholder2.png" class="d-block w-100" alt="Carousel Slide 2">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#homepageCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#homepageCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</div>