@{
    ViewData["Title"] = "Manager Portal";
}

<h1 class="open-sans">@ViewData["Title"]</h1>

<hr />
<h2>Manage Database</h2>

<ul>
    <li>
        <a asp-area="" asp-controller="Areas" asp-action="Index">Areas</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Tables" asp-action="Index">Tables</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Sittings" asp-action="Index">Sittings</a>
    </li>
    <li>
        <a asp-area="" asp-controller="SittingSchedules" asp-action="Index">Sitting Schedules</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Reservations" asp-action="Index">Reservations</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Users" asp-action="Index">Users</a>
    </li>
</ul>

<hr />
<h2>View Reports</h2>

<ul>
    <li>
        <a asp-controller="Reports" asp-action="ReservationAnalytics">Reservation Analytics</a>
    </li>
    <li>
        <a asp-controller="Reports" asp-action="TableUtilisation">Current Table Utilisation</a>
    </li>
</ul>

<hr />
<h2>Manager Help/Instructions</h2>

<ul>
    <li>
        <a asp-controller="Home" asp-action="ManagerHelp">Manager Help</a>
    </li>
</ul>