@{
    ViewData["Title"] = "Manger Portal";
}

<h1 class="open-sans">@ViewData["Title"]</h1>

<ul>
    <li>
        <a asp-area="" asp-controller="Areas" asp-action="Index">Areas</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Tables" asp-action="Index">Tables</a>
    </li>
</ul>