<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-tools"></i>
        Staff Tools
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" asp-controller="Reservations" asp-action="CaptureReservation">
                <i class="bi bi-telephone-inbound"></i>
                Capture Reservation
            </a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="Reservations" asp-action="UpcomingReservations">
                <i class="bi bi-alarm"></i>
                View Upcoming Reservations
            </a>
        </li>
    </ul>
</li>